#navbar {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    background-color: rgb(61, 61, 158);
    padding: 10px;
    margin-bottom: 50px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }